{{ define "main" }}
{{ partial "page-header" . }}

<aside title="Sign up for the Weekly Cloud" class="weekly-cloud-cta">
    <header class="gdoc-post__header gdoc-markdown__align--center">
        <h1 class="gdoc-post__title">Sign Up For The Weekly Cloud</h1>    
        <p> Want to keep up on the latest in tech and development related news? <br/>
            Subscribe to the weekly cloud!<br/> A weekly email newsletter where I sift through the Internet so you don’t have to.
        </p>
    </header>
    <form action="https://askcloudarchitech.us14.list-manage.com/subscribe/post?u=421392ab7e0ce2293355a111f&amp;id=af77cc5984" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form  gdoc-markdown__align--center" target="_blank" novalidate>
        <input type="email" required  id="mce-EMAIL" name="EMAIL" placeholder="Email Address" class="pure-input-3-4" />
        <button type="aligned-submit" class="pure-button ">Submit</button>
    </form>
</aside>

{{ $paginator := .Paginate (first 50 .Site.RegularPages) }}
{{ range $paginator.Pages }}
        {{ if eq .Type "posts" }}

        {{ $source := "" }}
        {{ if .Params.MainImage }}
            {{ $source = (.Resources.ByType "image").GetMatch (.Params.MainImage) }}
        {{ else }}
            {{ $source = resources.Get "logo-transparent.png"}}
        {{ end }}

        {{ if .Params.previewImage }}
            {{ $source = (.Resources.ByType "image").GetMatch (.Params.previewImage) }}
        {{ end }}

        {{ $source = $source.Resize "600x" }}
        <article class="gdoc-markdown gdoc-post">
            <header class="gdoc-post__header">
                <h1 class="gdoc-post__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            </header>
            <div class="summary-flex">
                <div class="summary-image"> <a href="{{ .RelPermalink }}"><img src="{{ $source.RelPermalink }}" alt="{{ $source.Title }}" /></a></div>
                <section>
                    {{ .Summary }}
                </section>
            </div>
            <div class="gdoc-post__readmore">
                {{ if .Truncated }}
                <a class="flex-inline align-center fake-link" title="Read full post" href="{{ .RelPermalink }}">Read full post</a>
                {{ end }}
            </div>
            <footer class="gdoc-post__footer">
                <span class="no-wrap">
                    <svg class="icon gdoc_date"><use xlink:href="#gdoc_date"></use></svg>
                    <span class="gdoc-post__tag">
                        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                            {{ if .Lastmod.After (.Date.AddDate 0 0 1) }}
                                Updated on
                            {{ end }}
                            {{ .Lastmod.Format "Jan 2, 2006" }}
                        </time>
                    </span>
                </span>

                <span class="no-wrap">
                    <svg class="icon gdoc_timer"><use xlink:href="#gdoc_timer"></use></svg>
                    <span class="gdoc-post__tag">{{ .ReadingTime }} min read</span>
                </span>

            </footer>
        </article>
        {{ end }}
    {{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "post-tag" }}
<span class="gdoc-post__tag">
<span class="gdoc-button">
    <a class="gdoc-button__link" href="{{ .page.RelPermalink }}" title="All posts tagged with '{{ .name }}'">{{ .name }}</a>
</span>
</span>
{{ end }}
