<!DOCTYPE html>
<html
  lang="{{ .Site.Language.Lang }}"
  prefix="og: http://ogp.me/ns#"
  class="color-toggle-hidden"
>
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MHJF5SQ");
    </script>
    <!-- End Google Tag Manager -->
    {{ partial "head/meta" . }}
    <title>
      {{ if not (eq .Kind "home") }} {{ partial "title" . }} {{ else }}Tips,
      Tricks and Work Hacks for Software Development Professionals {{ end }} |
      {{ .Site.Title }}
    </title>

    {{ partial "head/favicons" . }} {{ partial "head/rel-me" . }} {{ partial
    "head/microformats" . }} {{ partial "head/others" . }} {{ partial
    "head/schema" . }} {{ partial "head/custom" . }} {{ if eq .Kind "home" }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}
  </head>

  <body itemscope itemtype="https://schema.org/WebPage">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MHJF5SQ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "svg-icon-symbols" . }}

    <div
      class="wrapper {{ if default false .Site.Params.GeekdocDarkModeDim }}dark-mode-dim{{ end }}"
    >
      <input type="checkbox" class="hidden" id="menu-control" />
      <input type="checkbox" class="hidden" id="menu-header-control" />
      {{ $navEnabled := default true .Page.Params.GeekdocNav }} {{ partial
      "site-header" (dict "Root" . "MenuEnabled" $navEnabled) }}

      <main class="container flex flex-even">
        {{ if $navEnabled }}
        <aside class="gdoc-nav">{{ partial "menu" . }}</aside>
        {{ end }}

        <div class="gdoc-page">
          {{ template "main" . }} {{ partial "page-footer" . }}
        </div>
      </main>

      {{ partial "site-footer" . }}
    </div>

    {{ partial "foot" . }} {{ if eq .Kind "home" }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    {{ end }}
  </body>
</html>
